<script context="module" lang="ts">
	import type common from "@sapper/common";

	export async function preload(page: common.Page) {
		return {
			profile: page.params.profile,
			member: page.params.member,
			graph: page.params.graph
		};
	}
</script>

<script lang="ts">
	export let profile: string;
	export let member: string;
	export let graph: string;

	import { onMount } from "svelte";
	import { goto } from "@sapper/app";
	import { init } from "echarts";
	import {
		getGraph,
		getGraphs,
		getProfileCuteName,
		getUsername
	} from "../../../../../../lib/api";
	import { login, extraNav } from "../../../../../../components/stores";

	$extraNav;

	$: if ($login !== undefined) {
		(async () => {
			let username = await getUsername(member);
			let cuteName = await getProfileCuteName(profile, member);
			extraNav.update(current => {
				return [
					[
						`${username} @ ${cuteName}`,
						() => goto(`/profile/${profile}/member/${member}`)
					],
					...(current || [])
				];
			});
		})();
	}

	onMount(async () => {
		let graphs = await getGraphs($login?.token);
		let g = graphs.find(g => g.graph === graph);
		extraNav.update(current => {
			return [
				...(current || []),
				[
					g?.data.name || "Unknown graph",
					() =>
						goto(
							`/profile/${profile}/member/${member}/graph/${graph}`
						)
				]
			];
		});

		let data = await getGraph($login?.token, graph, profile, member);

		let c = document.querySelector("div#list");
		if (c && g) {
			init(c as HTMLElement, "dark").setOption({
				tooltip: {
					trigger: "axis",
					order: "valueDesc"
				},
				legend: {
					show: data[0].length !== 2 || !Array.isArray(data[0][0])
				},
				xAxis: g.data.x_axis || {
					name: "Date & time",
					type: "time"
				},
				yAxis: g.data.y_axis || {
					type: "value"
				},
				series:
					data[0].length === 2 && !Array.isArray(data[0][0])
						? [
								{
									name: g.data.name,
									type: g.data.style,
									data: data
								}
						  ]
						: (<[string, number, number][]>data[0]).map(
								([name]) => {
									return {
										name,
										type: g?.data.style,
										data: (<[string, number, number][][]>(
											data
										))
											.map(is =>
												is
													.find(i => i[0] === name)
													?.slice(1)
											)
											.filter(v => v !== undefined)
									};
								}
						  ),
				dataZoom: [
					{
						id: "dataZoomX",
						type: "slider",
						filterMode: "filter"
					},
					{
						id: "dataZoomY",
						type: "slider",
						filterMode: "empty"
					}
				]
			});
		}
	});
</script>

<div id="list">
	<div class="item"><h1>Loading...</h1></div>
</div>

<style lang="scss">
	@use "../../../../../../styles/GridList";
</style>
