<script lang="ts">
	export let status: number;
	export let error: Error;

	const dev = process.env.NODE_ENV === "development";
</script>

<svelte:head>
	<title>{status}</title>
</svelte:head>
<div id="content">
	<div>
		<h1>{status}</h1>
		<p>{error.message}</p>
	</div>

	{#if dev && error.stack}
		<pre>{error.stack}</pre>
	{/if}
</div>

<style lang="scss">
	div#content {
		width: 100%;
		display: grid;
		place-items: center;
		div {
			text-align: center;
		}
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>
