<script lang="ts">
	export let segment: string | undefined;

	import { onMount } from "svelte";
	import Navbar from "../components/Navbar.svelte";
	import { login } from "../components/stores";
	import { postLogin } from "../lib/api";

	onMount(async () => {
		try {
			login.set(await postLogin());
		} catch (e) {
			login.set(null);
		}
	});
</script>

<Navbar {segment} />

<main>
	<slot />
</main>

<style lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
	@font-face {
		font-family: "Minecraft";
		src: url("/Minecraft-Regular.otf");
	}
	$navbar-padding: 0.75em * 2 + 1em * 2 + 1.4375em;
	:global(body) {
		background-color: black;
		font-family: "Fira Code", monospace;
		color: hsl(30, 20%, 90%);
	}
	main {
		display: flex;
		align-items: stretch;
		padding: 0.75em;
		padding-top: $navbar-padding;
		min-height: calc(100% - #{$navbar-padding} - 0.75em);
	}
	:global(button),
	:global(input),
	:global(textarea) {
		font-family: "Fira Code", monospace;
	}
</style>
