<script lang="ts">
	import { goto } from "@sapper/app";
	import { login, extraNav } from "../../components/stores";
	import { putGraph } from "../../lib/api";

	$extraNav; // important for subscription to store to be activated
	extraNav.set([["Add", () => (type = "")]]);

	let type = "";
	let name = "";
	let style = "";
	let value = "";
	let status = "";

	let xAxisName = "Date & time";
	let yAxisName = "";
	let xAxisType = "time";
	let yAxisType = "value";

	$: if (type !== "") {
		extraNav.set([
			["Add", () => (type = "")],
			{
				manual_graph: "Manual Graph"
			}[type]!
		]);
	} else {
		extraNav.set([["Add", () => (type = "")]]);
	}
</script>

<svelte:head>
	<title>Add Graph - Skyblock Data Tracker</title>
</svelte:head>

<div id="list">
	{#if type === ""}
		<button class="item" on:click={() => (type = "manual_graph")}>
			<h1>Manual Graph</h1>
		</button>
	{:else if type === "manual_graph"}
		<form
			class="item"
			on:submit={async event => {
				event.preventDefault();
				try {
					await putGraph(
						$login?.token,
						type,
						name,
						style,
						value,
						xAxisName,
						xAxisType,
						yAxisName,
						yAxisType
					);
					goto("/graphs");
				} catch (e) {
					if (
						e.response?.status === 401 ||
						e.response?.status === 403
					) {
						alert("Unauthorised");
					} else {
						alert("An error occured while adding the profile");
					}
					status = "Error";
				}
			}}
		>
			<h1>Manual Graph</h1>
			<p id="status">{status}</p>
			<input type="text" placeholder="Name" bind:value={name} />
			<input type="text" placeholder="Style" bind:value={style} />
			<textarea rows="16" placeholder="AQL" bind:value />
			<h2>X Axis</h2>
			<p>
				Name: <input type="text" bind:value={xAxisName} />
			</p>
			<p>
				Type: <input type="text" bind:value={xAxisType} />
			</p>
			<h2>Y Axis</h2>
			<p>
				Name: <input type="text" bind:value={yAxisName} />
			</p>
			<p>
				Type: <input type="text" bind:value={yAxisType} />
			</p>
			<input type="submit" value="Add" />
		</form>
	{/if}
</div>

<style lang="scss">
	@use "../../styles/GridList";
	@use "../../styles/CodeForm";

	.item {
		color: hsl(30, 20%, 90%);
		font-size: 1.17em;
	}
	button.item:hover {
		cursor: pointer;
	}
</style>
