form {
	display: flex;
	flex-direction: column;
	padding: 1em;
	background-color: hsl(236, 10%, 20%);
	p#status {
		color: red;
	}
}
@mixin input {
	background: none;
	padding: 0.75em;
	margin-bottom: 1em;
	font-size: 1.17em;
	color: hsl(30, 20%, 90%);
	border: 2px solid black;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	&:focus,
	&:focus-visible {
		outline: none;
		border-color: black;
	}
}
input {
	@include input;
}
input[type="submit"] {
	margin: 0;
	width: 100%;
	border-color: black;
	&:hover {
		cursor: pointer;
		background-color: hsl(236, 5%, 25%);
	}
}
