@mixin add {
	position: relative;
	display: block;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: min(12em, 30%);
		height: 0.3em;
		background-color: hsl(30, 20%, 90%);
	}
	&::before {
		transform: translate(-50%, -50%) rotateZ(90deg);
	}
}
