div#list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
	grid-auto-rows: 1fr;
	grid-auto-flow: dense;
	gap: 0.75em;
}
.item {
	border: none;
	padding: 1em;
	background-color: hsl(236, 10%, 20%);
	overflow-y: auto;
	&:hover {
		transform: scale(98%);
		z-index: inherit;
	}
	:nth-child(1) {
		margin-top: 0;
	}
	:nth-last-child(1) {
		margin-bottom: 0;
	}
}
