<script lang="ts">
	export let hrefPrefix = "";
	import { login } from "./stores";
	import { checkPermissions, Permissions } from "../lib/permissions";
	import { getGraphs, getPermissions } from "../lib/api";

	let add = false;
	let showCode = false;
	let graphsPromise: ReturnType<typeof getGraphs> = new Promise(() => {});
	$: if ($login !== undefined) {
		graphsPromise = getGraphs($login?.token);
		getPermissions($login?.token).then(permissions => {
			if (checkPermissions([Permissions.ADD_GRAPH], permissions)) {
				add = true;
			}
			if (checkPermissions([Permissions.MANUAL_GRAPH], permissions)) {
				showCode = true;
			}
		});
	}
</script>

<div id="list">
	{#await graphsPromise}
		<span class="item">
			<h2>Fetching graphs...</h2>
		</span>
	{:then graphs}
		{#each graphs as graph}
			<a class="item" href="{hrefPrefix}/graph/{graph.graph}">
				<h2>{graph.data.name} <span>#{graph.graph}</span></h2>
				<p><strong>Style: </strong>{graph.data.style}</p>
				{#if showCode}
					<code>{graph.data.value}</code>
				{/if}
			</a>
		{/each}
		<!-- svelte-ignore a11y-missing-content -->
		{#if add}
			<a class="item add" href="/graph/new" />
		{/if}
	{:catch error}
		<span class="item">
			<h2 style="color: red">{error.message}</h2>
		</span>
	{/await}
</div>

<style lang="scss">
	@use "../styles/GridList";
	@use "../styles/GridItems";
	a.item {
		text-decoration: none;
		color: hsl(30, 20%, 90%);
		font-size: 1.17em;
		&:hover {
			h2 {
				text-decoration: underline;
			}
		}
	}
	h2 span {
		color: hsl(30, 5%, 60%);
		font-weight: 100;
		font-size: 0.75em;
	}
	.add {
		@include GridItems.add;
	}
</style>
