<script lang="ts">
	export let segment: string | undefined;
	import { getPermissions, postLogout } from "../lib/api";
	import { checkPermissions, Permissions } from "../lib/permissions";
	import { extraNav, login } from "./stores";

	let profiles = false;
	let users = false;
	$: if ($login !== undefined) {
		getPermissions($login?.token).then(permissions => {
			if (checkPermissions([Permissions.VIEW_PROFILES], permissions)) {
				profiles = true;
			}
			if (checkPermissions([Permissions.VIEW_USERS], permissions)) {
				users = true;
			}
		});
	}
</script>

<nav>
	<a
		href="/profiles"
		class:active={segment === "profiles" || segment === "profile"}
		class:invisible={!profiles}
	>
		<h3>Profiles</h3>
	</a>
	<span class="sep" />
	<a
		href="/graphs"
		class:active={segment === "graphs" || segment === "graph"}
		class:invisible={!profiles}
	>
		<h3>Graphs</h3>
	</a>
	<span class="sep" />
	<a
		href="/users"
		class:active={segment === "users" || segment === "user"}
		class:invisible={!users}
	>
		<h3>Users</h3>
	</a>
	<span class="sep" />
	{#if $extraNav !== undefined}
		<span class="extra">
			<h3>
				{#each $extraNav.filter(i => i) as item}
					<span class="spacer" />
					{#if typeof item === "string"}
						<span>{item}</span>
					{:else}
						<button type="button" on:click={item[1]}>
							{item[0]}
						</button>
					{/if}
				{/each}
			</h3>
		</span>
		<span class="sep" />
	{/if}
	<div class="sep" />
	<span class="sep" />
	{#if $login === null || $login === undefined}
		<a href="/login" class:active={segment === "login"}>
			<h3>Login</h3>
		</a>
	{:else}
		<span>
			<h3>@{$login.username}</h3>
		</span>
		<span class="sep" />
		<a
			href="."
			on:click={async () => {
				await postLogout($login?.token || ""); // ! wasn't working for some reason
				login.set(null);
			}}
		>
			<h3>Logout</h3>
		</a>
	{/if}
</nav>

<style lang="scss">
	nav {
		z-index: 1000;
		position: fixed;
		width: calc(100% - 1.5em);
		background-color: hsl(236, 10%, 20%);
		display: flex;
		border: 0.75em solid black;
	}

	h3 {
		display: inline;
		text-decoration: inherit;
	}
	span,
	a {
		display: inline-block;
		text-decoration: none;
		color: inherit;
		padding: 1em;
	}
	a.active {
		color: hsl(111, 100%, 50%);
	}
	a:hover {
		text-decoration: solid underline;
	}
	.sep {
		padding: 0;
		background-color: black;
	}
	span.sep {
		width: 0.75em;
	}
	div.sep {
		flex: 1;
	}
	.extra {
		padding-left: 0;
		@media screen and (max-width: 803px) {
			display: none;
		}
		h3 {
			span,
			button {
				color: hsl(30, 20%, 90%);
				font-size: 1em;
				font-weight: 500;
				padding: 0;
				display: inline;
				background: none;
				border: none;
				user-select: text;
				-ms-user-select: text;
				-moz-user-select: text;
				-webkit-user-select: text;
			}
			span.spacer::before {
				text-decoration: none;
				content: ">";
				margin-left: 1em;
				color: hsl(30, 5%, 60%);
				font-weight: 100;
				font-size: 0.75em;
				vertical-align: middle;
			}
			button:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	.invisible,
	.invisible + .sep {
		display: none;
	}
</style>
