<script context="module" lang="ts">
	import type common from "@sapper/common";

	export async function preload(page: common.Page) {
		return {
			profile: page.params.profile,
			member: page.params.member
		};
	}
</script>

<script lang="ts">
	export let profile: string;
	export let member: string;
	import Graphs from "../../../../components/Graphs.svelte";
	import { goto } from "@sapper/app";
	import { extraNav, login } from "../../../../components/stores";
	import { getProfileCuteName, getUsername } from "../../../../lib/api";

	$extraNav;
	$: if ($login !== undefined) {
		(async () => {
			let username = await getUsername(member);
			let cuteName = await getProfileCuteName(profile, member);
			extraNav.set([
				[
					`${username} @ ${cuteName}`,
					() => goto(`/profile/${profile}/member/${member}`)
				]
			]);
		})();
	}
</script>

<Graphs hrefPrefix="/profile/{profile}/member/{member}" />
